@import url("./fonts.css");
* {
  padding: 0;

  margin: 0;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.center {
  text-align: center;
}

.options {
  background-image: url(../images/mountains.jpg);
  width: 100%;
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}

.option1 {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1232px;
  margin: 0px auto;
}

.top {
  padding-top: 57px;
  padding-bottom: 196px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
}

.sprite {
  background-image: url(../images/group.png);
  background-repeat: no-repeat;
}

.triphouse {
  width: 205px;
  height: 40px;
  fill: #3077c6;
}

.text1 {
  display: flex;
  align-items: center;
}

.text-top {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

a.withline::after {
  display: none;
  content: "";
  height: 4px;
  width: 50px;
  background-color: rgb(245, 189, 65);
}

.icon-night {
  width: 30px;
  height: 30px;
  fill: #ffffff;
  margin-right: 24px;
}

.icon-account {
  width: 40px;
  height: 40px;
  fill: #ffffff;
}
.icon-menu {
  display: none;
}

.dropdown-child {
  display: none;
}

.text-option {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  text-align: left;
  padding-bottom: 100px;
}

.text-middle {
  padding-bottom: 24px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
  width: 640px;
}

.search-box {
  display: flex;
  flex-wrap: wrap;
}

.destination {
  width: 421px;
  height: 64px;
  border-radius: 8px;
  padding-left: 24px;
  font-size: 18px;
}
.labelinput {
  position: relative;
}
.labeltext {
  position: absolute;
  pointer-events: none;
  left: 24px;
  top: 23px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  transition: 0.2s ease all;
  color: #383838;
}
input:focus ~ .labeltext,
input:not(:focus):valid ~ .labeltext {
  top: -46px;
  left: 24px;
  font-size: 18px;
  opacity: 1;
  color: white;
}

.destinationmobile {
  display: none;
}

.date {
  width: 260px;
  display: flex;
  border: 3px solid #f5bd41;
  border-radius: 8px;
}
.startdate {
  display: none;
}
.finishdate {
  display: none;
}
.family {
  width: 314px;
  height: 64px;
  border-radius: 8px;
  padding-left: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
}
.familymobile {
  display: none;
}
.button {
  width: 192px;
  height: 64px;
  background: #3077c6;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  line-height: 28px;
}

.bottom {
  padding-top: 120px;
  padding-left: 481px;
  padding-bottom: 120px;
  display: flex;
}

.google {
  width: 135px;
  height: 40px;
}
.app {
  width: 150px;
  height: 40px;
  background-position: -152px 1px;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 120px 0px;
  width: 100%;
}
.title {
  color: #383838;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.underline {
  border: #f5bd41;
  background-color: #f5bd41;
  height: 4px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.offers-list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 25%;
  text-align: center;
}

.box {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.icon {
  width: 100px;
  height: 100px;
  fill: #3077c6;
}
.text {
  color: #383838;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
}
.homes {
  background-color: #eaf0f9;
}
.homes__offers {
  justify-content: space-between;
}
.homesoffers_img {
  width: 100%;
  height: 296px;
  padding-bottom: 24px;
}

.link_homesoffers {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #3077c6;
  text-decoration: none;
}
.homesoffers_signature {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #bfbfbf;
  padding-top: 24px;
}

.footer {
  background: #10367c;
}

.footer1 {
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 104px;
  padding-right: 168px;
  padding-left: 104px;
  max-width: 1232px;
  color: #ffffff;
}

.triphouse__footer {
  display: none;
}
.contacts {
  display: flex;
  margin: 0 auto;
  padding-bottom: 64px;
  justify-content: space-between;
}

.columns {
  list-style-type: none;
  font-size: 20px;
  line-height: 24px;
}

li {
  margin-bottom: 24px;
}

.first-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
a.link {
  color: white;
  text-decoration: none;
}

a.link:hover {
  color: rebeccapurple;
}

.second-items {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 24px;
}

.signature {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .footer1 {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 104px;
    padding-right: 20px;
  }
  .item {
    padding-bottom: 30px;
  }
  .container {
    padding: 80px 0;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .top {
    padding-top: 12px;
    padding-bottom: 52px;
  }
  .options {
    background-size: cover;
  }
  .triphouse {
    width: 122px;
    height: 24px;
  }
  .text-top {
    display: none;
  }
  .icon-night {
    width: 16px;
    height: 16px;
    margin-right: 16px;
  }

  .icon-account {
    width: 24px;
    height: 24px;
  }
  .icon-menu {
    display: inline-flex;
    margin-left: 16px;
    width: 24px;
    height: 16px;
    fill: white;
  }
  .dropdown {
    display: inline-block;
  }

  .dropdown-child a {
    color: white;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-child {
    display: block;
  }
  .text-option {
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 31px;
  }
  .text-middle {
    display: none;
  }
  .form {
    border: 4px solid #f5bd41;
    background-color: #f5bd41;
  }
  .search-box {
    display: inline;
  }
  .destination {
    display: none;
  }
  .labeltext {
    display: none;
  }
  .destinationmobile {
    display: inline;
    background-image: url(../images/lens.svg);
    background-repeat: no-repeat;
    background-position: 12px;
    font-weight: 500;
    font-size: 15px;
    height: 48px;
    width: 328px;
    border-radius: 8px;
    padding-left: 36px;
    border: 4px solid #f5bd41;
    color: #383838;
  }
  .date {
    border: 0;
    position: relative;
  }
  .date_input {
    border-radius: 8px;
    border: 4px solid #f5bd41;
    height: 48px;
    width: 152px;
    padding-left: 8px;
  }
  .startdate {
    display: inline;
    position: absolute;
    top: 3px;
    right: 223px;
    width: 84px;
    height: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #383838;
  }
  .finishdate {
    display: inline;
    position: absolute;
    top: 3px;
    right: 64px;
    width: 84px;
    height: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #383838;
  }
  .family {
    display: none;
  }
  .familymobile {
    display: inline-flex;
  }
  .choise {
    width: 104px;
    height: 48px;
    box-sizing: border-box;
    padding: 8px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #383838;
  }
  .Adults {
    border-left: 4px solid #f5bd41;
    border-top: 4px solid #f5bd41;
    border-bottom: 4px solid #f5bd41;
    border-right: 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .children {
    border-top: 4px solid #f5bd41;
    border-bottom: 4px solid #f5bd41;
    border-right: 1px;
  }
  .room {
    border-top: 4px solid #f5bd41;
    border-bottom: 4px solid #f5bd41;
    border-right: 4px solid #f5bd41;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .button {
    height: 48px;
    font-size: 19px;
    line-height: 22px;

    border-radius: 8px;
    border: 4px solid #f5bd41;
  }
  .bottom {
    padding-top: 32px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
  .container {
    padding-top: 24px;
    padding-bottom: 40px;
  }

  .title {
    color: #383838;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 28px;
  }

  .underline {
    display: none;
  }
  .box {
    margin-bottom: 20px;
  }
  .icon {
    width: 70px;
    height: 58px;
  }
  .text {
    color: #383838;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 18px;
  }
  .footer1 {
    padding-bottom: 0;
  }
  .contacts {
    padding-bottom: 32px;
  }
  .tripfoot {
    display: flex;
    justify-content: center;
  }
  .triphouse__footer {
    fill: white;
    display: flex;
    margin-bottom: 40px;
  }
  .first-item {
    font-size: 15px;
    margin-bottom: 0px;
    text-decoration: underline;
  }
  .second-items {
    display: none;
  }
  .footer1 {
    padding-left: 16px;
  }
  .contacts {
    text-align: center;
  }
  .signature {
    font-size: 12px;
    text-align: center;
    padding-bottom: 40px;
  }
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
